*{
    margin: 0%;
    padding: 0%;
}

/* navbar -------------------------------------------------------------------------------------------*/
#nav{
    height:92px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.logo{
width:20%;

}
.logo>img{
    width: 90%;
  margin-top: 15px;
  
}
.nav-items{
    width:50%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top:35px;
}
.nav-items>a{
text-decoration: none;
font-size:16px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color: black;
}
/* -------------------------------- */


/* hometop----------------------------------------------------------------- */
#top{
margin:auto;
width: 70%;
text-align: center;
padding: 1%;
margin-top: 30px;
}
#top>h1{
color: 1D0D46;
padding-top: 20px;
font-size: 44px;
font-family:"Sarabun", Sans-serif;
}
#top>p{
    padding-top: 10px;
    color:rgb(2, 21, 56);
    font-size: 20px;
    font-family:"Sarabun", Sans-serif;
}
#top>div{
    margin-top: 20px;
   
}
#top>div>button{
  height: 40px;
  width: 200px;
   margin-top: 30px;
   color:white;
   background-color:salmon;
   border: 0px;
   border-radius:10px;
  
  
}
#top>div>button:nth-child(1){
background-color: teal;
}
#top>div>button>p{
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: "Open sans", Sans-serif;
}
/* -------------------------------- */


/* footer---------------------------------------------------------- */
#foot{
    height:auto;
    background-color: rgb(24, 24, 53);
}
#footer{

 
    color: #ffffff;
    display: flex;
    margin: auto;
    justify-content: space-around;
    padding: 2%;
}
#footer>div>p{
padding-top: 15px;
font-size: 16px;
font-family: "Open Sans",sans-serif;
color: #8b90a0;
}
#footer>div>h1{
    color: #ffffff;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.social{
    height: 42px;
    width: 260px;
    margin-top: 10px;
    display: flex;
  
    justify-content: space-between;
}
.social>div{
    height:41px;
    margin-top: 10px;
    width:41px;
    border-radius: 50%;
}
.social>div>img{
height:30px;
width:30px;
border-radius: 50%;
}

.foot-v{
    padding: 2%;
    height: auto;
    width: auto;
   text-align: center;
}
.foot-v>img{
height: 37px;
width: 154px;


}
.foot-v>p{
    padding-top: 15px;
    font-size: 16px;
    font-family: "Open Sans",sans-serif;
    color: #8b90a0;
}

/* -------------------------------- */

/* navbar -------------------------------------------------------------------------------------------*/
#nav{
    height:92px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.logo{
width:20%;

}
.logo>img{
    width: 90%;
  margin-top: 15px;
  
}
.nav-items{
    width:50%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top:35px;
}
.nav-items>a{
text-decoration: none;
font-size:16px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color: black;
}
/* -------------------------------- */
#foot{
    height:auto;
    background-color: rgb(24, 24, 53);
}
#footer{

 
    color: #ffffff;
    display: flex;
    margin: auto;
    justify-content: space-around;
    padding: 2%;
}
#footer>div>p{
padding-top: 15px;
font-size: 16px;
font-family: "Open Sans",sans-serif;
color: #8b90a0;
}
#footer>div>h1{
    color: #ffffff;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.social{
    height: 42px;
    width: 260px;
    margin-top: 10px;
    display: flex;
  
    justify-content: space-between;
}
.social>div{
    height:41px;
    margin-top: 10px;
    width:41px;
    border-radius: 50%;
}
.social>div>img{
height:30px;
width:30px;
border-radius: 50%;
}

.foot-v{
    padding: 2%;
    height: auto;
    width: auto;
   text-align: center;
}
.foot-v>img{
height: 37px;
width: 154px;


}
.foot-v>p{
    padding-top: 15px;
    font-size: 16px;
    font-family: "Open Sans",sans-serif;
    color: #8b90a0;
}

/* -------------------------------- */